{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@/assets/(.*)$",
        "^@/components/(.*)$",
        "^@/screen(.*)$",
        "^@/ui(.*)$",
        "^@/hooks/(.*)$",
        "^@/services/(.*)$",
        "^@/shared/(.*)$",
        "^@/store/(.*)$",
        "^@/utils/(.*)$",
        "^../(.*)",
        "^./(.*)",
        "(.scss)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}